.paper {
	position:relative;
	width:98%;
	height:98%;
	background:#fff;
	border:1px solid #eee;
	float:left;
	margin:10px;
	box-shadow:0 0 5px rgba(0,0,0,0.27),0 0 20px  rgba(0,0,0,.1) inset;
}
.paper::after,.paper::before {
	content:'';
	position:absolute;
	bottom:6px;
	width:100px;
	height:1px;
	z-index:-1;
	box-shadow:0 2px 12px 5px rgba(0,0,0,.3);
}
.paper::after {
	left:4px;
	transform:rotate(-6deg);
}
.paper::before {
	right:4px;
	transform:rotate(6deg);
}